// Colours definition
$white: #FFFFFF
$black: #000000
$red: #ff0000
$yellow: #fcf458
$dark-yellow: #efd362

// Background Colour
$light-grey: #F0F0EE

// Breakpoints

$xs: 320px
$sm: 375px
$smp: 425px
$m: 768px
$lg: 1024px
$xl: 1280px
$xxl: 1440px

// Alignments

// Global classes

// Hide
.hide
	display: none