// Colours definition
$white: #FFFFFF

// Background Colour


// Breakpoints

$xs: 320px
$sm: 375px
$smp: 425px
$m: 768px
$lg: 1024px
$xl: 1280px
$xxl: 1440px

// Alignments

// Global classes

// Hide