#navbar
	.nav__content
		.nav__icons
			display: grid
			grid-template-rows: 1fr
			grid-template-columns: 1fr 1fr 1fr 1fr
			.nav__icon--left
				grid-row: 1
				grid-column: 1 / 4
				text-align: left
				margin-top: 14px
				.nav__icon--1,
				.nav__icon--2,
					margin-right: 40px
			.nav__icon--right
				grid-row: 1
				grid-column: 4
				text-align: right
				margin-top: 14px
			a
				color: $black
				text-decoration: none
			li
				list-style-type: none
			p
				margin-right: 1.5%
